@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat&family=Pacifico&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    
}
.accordion-button{
    padding: 30px 15px;
   
}
.a{
    
    float: right;
}
.info{
    height: 178px;
    width: 560px;
    padding: 0 14px;
}
.info p{
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -.03em;
}
.info li{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -.03em;
}