@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat&family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: center;
  position: static;
  background-color: antiquewhite;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
}
.menu {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.menu li {
  margin-right: 25px;
  position: static;
}
.Nav {
  padding-left: 150px;
  position: static;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 30px;
}
.contact {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.contact::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}
.contact:hover {
  transform: translateY(-2px);
}

.contact:hover::after {
  animation: underline-hide 2s forwards;
}

@keyframes underline-hide {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.fix {
  position: fixed;
  width: 100%;
}

.blur {
  filter: blur(1rem);
  transition: all 1s;
  opacity: 1;
}
.sidebar_toggle {
  background-color: antiquewhite;
  border: 0;
}
.sidebar {
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  background-color: antiquewhite;
  transition: width 0.8s ease-in-out;
  overflow: hidden;
  position: fixed;
}

.sidebar.active {
  width: 25vw;
}

.sidebar.inactive {
  width: 0;
}

.inner {
  position: absolute;
  top: 5%;
  right: 10%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  padding-top: 10rem;
  padding-left: 3rem;
  letter-spacing: 0.3rem;
}
