@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat&family=Pacifico&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    
}
.main{
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -.03em;
    text-transform: uppercase;
}
.Item-Selector{
    /* height: 887px; */
    width: 1175.25px;
}
/* .Item-Selector-Image{
    display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px ;
  
  

}
.Item-Selector-Image img{
    width: 100%;
    height: auto;
    size: 100px;
} */


