.register-page {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70rem;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.register-pageinput1,
.register-pageinput2,
.register-pageinput3,
.register-pageinput4,
.register-pagesubmit {
  padding: 1.6rem;
  margin: 1.3rem;
  width: 100%;
  height: 4rem;
  border: 2.3px solid rgb(64, 63, 63);
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.register-pagesubmit {
  background-color: #000000;
  color: white;
  font-weight: 700;
  letter-spacing: 2.3px;
  font-size: 1.4rem;
  line-height: 1.3rem;
  margin-top: 2rem;
}

.register-page-title {
  color: #000000;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.register-pagedirect {
  text-decoration: none;
  color: #416d99;
}

.register-pagetext3 {
  color: black;
  letter-spacing: 0.3px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
}
